.info-card-container {
    border: 0;
    border-radius: 8px;
    min-height: 50px;
}

.info-card-container-row {
    height: 100%;
    min-height: 50px;
}

.info-card-container-col {
    min-height: inherit;
}